.bg-header{background: #e5dcd2;}
.df {display: flex;justify-content: space-between;align-items: center;}
.df .btn{height: 0;border: none;background: none;color: #c3925a;}
.df .btn:focus{box-shadow: none;color: #000;}
.df .btn:active, .df .btn:hover{color: #000 !important;}
.main_name:hover{color: #c3925a;text-decoration: none;}
.menu_tab-list_item img{width: 100px;}
.cust-menu .menu_tab-list_item .description{font-style: italic !important;text-transform: lowercase !important;font-weight: 400;color: #9ea4a3;}
.cust-menu .main_name{padding-bottom: 10px;}
.cust-p{padding: 0 0 130px 0 !important;}
.cust-p .btn:hover{color: #fff !important;}
.white-txt{color: #fff !important; }
.whatsapp-icon, .booking-icon {position: fixed;width: 70px;height: 70px;z-index: 999}
.whatsapp-icon {left: 23px;bottom: 12px;}
.booking-icon{ right: 23px;bottom: 12px;}
.dropdown-toggle::after{display: none !important;}
@media only screen and (max-width:767px) {
    .whatsapp-icon {height: 80px;width: 80px;margin-left: -25px;margin-bottom: -25px}
}